In [5]:
import pickle


example_dict = pd.read_csv('D/new_db/2.000.2.0.0.001.csv')

example_dict = {0:"running", 1:"walking", 2:"sedentary", 3:"others", 4:"sleeping"}

# wb is writting byte
# create a dict.dat file in your local directory 

pickle_out = open('dict.dat','wb')

# parameters: 1st: what do we want to dump, 2nd: where do we want to dump it
# dump example_dict after pickling it to dict.dat file
pickle.dump(example_dict , pickle_out)

# close pickle 

pickle_out.close()

## How to read back the pickled file

In [6]:
# opening dict.dat into read byte format 
# saving it in unpick and reading it. 
pickle_in = open('dict.dat' , 'rb')
unpick = pickle.load(pickle_in)
print(unpick)

{0: 'running', 1: 'walking', 2: 'sedentary', 3: 'others', 4: 'sleeping'}

In [8]:
import pandas as pd

example_df = pd.read_csv('D/new_db/2.000.2.0.0.001.csv')

pickle_out = open('example_df.dat','wb')
pickle.dump(example_df , pickle_out)
pickle_out.close()

In [9]:
pickle_in = open('example_df.dat' , 'rb')
unpick = pickle.load(pickle_in)

In [10]:
# unpick is a dataframe , so my datatype is also saved. 
unpick.head()

,time,ecg1,ecg2,green,red,ir,xaxis,yaxis,zaxis,temperature,lod,count
0,1.544098e+09,2007,2163,56098,48888,53608,-656,416,7216,3345,3,37
1,1.544098e+09,2030,2184,56098,48892,53613,-2608,-4176,6704,3326,3,38
2,1.544098e+09,2041,2194,56104,48901,53632,-2928,-3904,6272,3331,3,40
3,1.544098e+09,2045,2212,56105,48887,53612,-2928,-3904,6272,3308,3,41
4,1.544098e+09,2030,2206,56098,48895,53612,736,-2256,7904,3303,3,42